<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Manager workspace</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
    <h1 align="center"><img th:src="@{/images/nbLogo.png}">Manager Workspace<img th:src="@{/images/managerLogo.png}"></h1>
    <hr>

    <div class="container">
        <h3 align="center">Assigned Employees</h3>
        <hr>

        <div th:if="${employeeList!=null and !employeeList.isEmpty()}" align="center">
            <table class="table table-bordered table-striped"> <!-- Bootstrap -->
                <thead class="thead-dark">
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Employment</th>
            </thead>

            <tbody>
                <tr th:each="tempEmployee : ${employeeList}">
                    <td th:text="${tempEmployee.username}"/>
                    <td th:text="${tempEmployee.firstName}"/>
                    <td th:text="${tempEmployee.lastName}"/>
                    <td th:text="${tempEmployee.email}"/>
                    <td th:align="center">
                        <a th:href="@{/manager/showEmployeeTasks(employeeId=${tempEmployee.id})}"
                           class="btn btn-dark">Tasks (<span th:text="${tempEmployee.getEmployeeTasks().size()}" />)</a>

                        <a th:href="@{/manager/unpinEmployee(employeeId=${tempEmployee.id})}"
                           class="btn btn-danger"
                           th:task-count="|Are you sure want to unpin employee? Amount of unconfirmed tasks - ${tempEmployee.getEmployeeTasks().size()}|"
                           onclick="if (!confirm(this.getAttribute('task-count'))) return false">Unpin</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div  th:if="${employeeList==null or employeeList.isEmpty()}" align="center">
            <h3><b>No employees attached</b></h3>
        </div>
        <hr>
        <h3 align="center">Free Employees</h3>
        <hr>
        <div th:if="${freeEmployeeList!=null and !freeEmployeeList.isEmpty()}" align="center">
            <table class="table table-bordered table-striped"> <!-- Bootstrap -->
                <thead class="thead-dark">
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Employment</th>
                    <th>Amount of Tasks</th>
                </thead>

                <tbody>
                <tr th:each="tempEmployee : ${freeEmployeeList}">
                    <td th:text="${tempEmployee.username}"/>
                    <td th:text="${tempEmployee.firstName}"/>
                    <td th:text="${tempEmployee.lastName}"/>
                    <td th:text="${tempEmployee.email}"/>
                    <td th:align="center">
                        <a th:href="@{/manager/attachEmployee(employeeId=${tempEmployee.id})}"
                           class="btn btn-dark"  onclick="if (!(confirm('Are you sure want to attach this employee?'))) return false">
                                Attach
                        </a>
                    </td>
                    <td align="center" th:text="${tempEmployee.getEmployeeTasks().size()}" />
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${freeEmployeeList==null or freeEmployeeList.isEmpty()}" align="center">
            <h3><b>No free employees</b></h3>
        </div>

        <div th:align="center">
            <a th:href="@{/manager/otherManagers}" class="btn btn-info"><b>Other Managers</b></a>
            <a th:href="@{/profile}" class="btn btn-info"><b>My Profile</b></a>
            <a th:href="@{/logout}" class="btn btn-info"><b>Logout</b></a>
        </div>
    </div>
    <div id="footer" th:insert="~{service/footer.html :: footer}" />
</body>
</html>