<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">
    <title>Forogot Password</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <style type="text/css">
        #emailForm {
            position:absolute;
            width:200px;
            height:150px;
            left:50%;
            top:55%;
            margin-left:-100px;
            margin-top:-150px;
        }
    </style>
</head>
<body>

<div align="center" id="emailForm">
    <form th:action="@{/forgotPassword}" method="post">
        <div><label> <b>Email :</b> <input type="text" name="email"/> </label></div>
        <div><input type="submit" value="Send new password" class="btn btn-primary btn-sm btn-dark" /></div>
        <br>
        <a th:href="@{/}" style="color: #0A0880"><b>Main Page</b></a>
    </form>
</div>

<div th:if="${param.emailError}" align="center">
    <p> <strong> <span  style="color: red">User with this email not found</span> </strong></p>
</div>

<div id="footer" th:insert="~{service/footer.html :: footer}" />
</body>
</html>