<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">

    <title>Reset Password Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <style type="text/css">
        #resetForm {
            position:absolute;
            width:200px;
            height:150px;
            left:50%;
            top:50%;
            margin-left:-100px;
            margin-top:-150px;
        }
        .warning {
            color: red;
        }
    </style>
</head>
<body>
<hr>
<div th:align="center" style="top: 50%; font-size: 20px"><b>Reset Password for user:
    <span th:text="${currEmployee.getUsername()}" /> <br> Email:  <span th:text="${currEmployee.getEmail()}" /></b>
</div>
<hr>

<div th:if="${passwordConfirmedError != null}"
     class="warning" th:align="center">
    <strong><span th:text="${passwordConfirmedError}" /></strong>
</div>

<div align="center" id="resetForm">

    <form th:action="@{/forgotPassword/reset}" th:object="${employeeForm}" method="post">

        <div>
            <input type="hidden" th:value="${currEmployee.id}" name="employeeId">
        </div>

        <div>
            <input type="hidden" th:value="${token}" name="token">
        </div>

        <div>
            <input type="hidden" th:value="*{username}" th:field="*{username}" name="username">
        </div>

        <div>
            <input type="hidden" th:value="*{firstName}" th:field="*{firstName}" name="firstName">
        </div>

        <div>
            <input type="hidden" th:value="*{lastName}" th:field="*{lastName}" name="lastName">
        </div>

        <div>
            <input type="hidden" th:value="*{email}" th:field="*{email}" name="email">
        </div>


        <div><label> <b>New Password:</b> <input th:field="*{password}" type="password" name="password"/> </label></div>
        <div><label> <b>Confirm Password:</b> <input th:field="*{passwordConfirm}" type="password" name="passwordConfirm"/> </label></div>
        <div><input type="submit" value="Update Password" class="btn btn-primary btn-sm btn-dark" /></div>
        <br>
        <a th:href="@{/}" style="color: #0A0880"><b>Main Page</b></a>

        <div th:if="${#fields.hasErrors('password')}"
             class="warning" th:align="center">
            <b><span th:errors="*{password}">Password is required</span></b>
        </div>

        <div th:if="${#fields.hasErrors('passwordConfirm')}"
             class="warning" th:align="center">
            <b><span th:errors="*{passwordConfirm}">Please Confirm the password</span></b>
        </div>
    </form>
</div>

<div id="footer" th:insert="~{service/footer.html :: footer}" />
</body>
</html>