<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="shortcut icon" th:href="@{~/images/favicon.ico}" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Manager Task List</title>

    <!-- Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div class="container">

    <h1 align="center"><img th:src="@{/images/nbLogo.png}">Manager Task List<img th:src="@{/images/adminLogo.png}"></h1>
    <hr>
    <p align="center">
        <b>
        Manager: <span th:text="${currManager.firstName}"/> <span th:text="${currManager.lastName}"/>
        <br>
        Email:
        <span th:text="${currManager.email}" />
        </b>
    </p>
    <hr>


    <div th:if="${taskList!=null and !taskList.isEmpty()}" align="center">
        <table class="table table-bordered table-striped"> <!-- Bootstrap -->
            <thead class="thead-dark">
            <th>Employee</th>
            <th>Task</th>
            <th>Begin</th>
            <th>End</th>
            <th>Status</th>
            <th>Action</th>
            </thead>

            <tbody>
            <tr th:each="tempTask : ${taskList}">
                <td>
                    <span th:text="${tempTask.employee.firstName}" />
                    <span th:text="${tempTask.employee.lastName}" />
                </td>
                <td th:text="${tempTask.text}"/>
                <td th:text="${#temporals.format(tempTask.startDateTime, 'dd-MM-yyyy HH:mm')}"/>

                <td>
                    <span th:text="${#temporals.format(tempTask.endDateTime, 'dd-MM-yyyy HH:mm')}" />
                    <img th:align="right" th:if="${tempTask.endDateTime.isBefore(#temporals.createNow())}" th:src="@{/images/taskDanger.png}">
                    <img th:align="right" th:if="${tempTask.endDateTime.isAfter(#temporals.createNow()) and #temporals.day(tempTask.endDateTime).equals(#temporals.day(#temporals.createNow()))}" th:src="@{/images/taskWarning.png}">
                </td>

                <td th:align="center">
                    <span th:if="${tempTask.status}" class="text-primary">
                        Active
                    </span>
                    <span th:unless="${tempTask.status}" class="text-success">
                        Done
                    </span>
                </td>

                <td th:align="center">
                    <a th:href="@{/admin/employees/deleteTask(taskId=${tempTask.id}, managerId=${currManager.id})}"
                       onclick="if (!(confirm('Are you sure want to delete this task?'))) return false" class="btn btn-danger">
                            Delete
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${taskList==null or taskList.isEmpty()}" align="center">
        <h3><b>This Manager did not set any tasks</b></h3>
    </div>

    <div th:align="center">
    <a th:href="@{/admin/employees}" class="btn btn-info"><b>Back to employee list</b></a>
    </div>
</div>

<div id="footer" th:insert="~{service/footer.html :: footer}" />
</body>
</html>